
.vs/PollySample/v16/.suo
.vs/PollySample/v16/.suo
.vs/PollySample/v16/Server/sqlite3/db.lock
.vs/PollySample/v16/Server/sqlite3/storage.ide
.vs/PollySample/v16/Server/sqlite3/storage.ide-shm
.vs/PollySample/v16/Server/sqlite3/storage.ide-wal
.vs/PollySample/DesignTimeBuild/.dtbcache
.vs/PollySample/config/applicationhost.config
.vs/PollySample/v16/.suo
.vs/PollySample/DesignTimeBuild/.dtbcache
.vs/PollySample/config/applicationhost.config
.vs/PollySample/config/applicationhost.config
.vs/PollySample/DesignTimeBuild/.dtbcache
*.txt
src/PollyCachingExample/obj/Debug/*
src/PollyCachingExample/bin/Debug/*
src/PollyPocAPIApplication/obj/